@mixin safe-area-top {
  padding-top: max(#{$status-bar-height}, #{$safe-area-top});
}

@mixin font($size, $lineHeight, $fontWeight: 500, $fontColor: white) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $fontColor;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
