$status-bar-height: 52px;
$safe-area-top: env(safe-area-inset-top, 20px); // для iPhone с "чёлкой"
$container-padding: 16px;

$gradient-start: #182C31;
$gradient-end: #15262A; 

$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;