@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import "reset";
@import "variables";
@import "mixins";

html,
body {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #fff;
  line-height: 20px;
  letter-spacing: 0;
  background: linear-gradient(135deg, $gradient-start, $gradient-end);
}

.app {
  padding-left: env(safe-area-inset-left, 16px);
  padding-right: env(safe-area-inset-right, 16px);
  min-height: 100vh;
}
